.jumbotron {
  background-image: url("../img/68275.jpg");
  background-size: cover;
  background-position: center;
}
.jumbotron p {
  color: white;
}
.jumbotron h1 {
  color: white;
  position: center;
}
